
$container-padding: 32px;

$principal-font: 'Poppins', sans-serif;

$primary-color: #264065;
$secondary_color: #4bb89e;
$gray: #909090;
$black: #070D15;
$white: #ffffff;

$shadow: 0 18px 40px rgba(16, 24, 40, 0.08);