.hero { 
    max-width: 100%;
    display: block;
    &-image {
        img {
            width: 100%;       
            height: auto;
        }
        
    }
    &-text {
        padding-left: 16px;
        padding-right: 16px;
        h1 {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        p {
            max-width: 500px;      
            color: $gray;
        }
    }
    @include breakpoint(tablet) {
        position: relative;
        &-image {
            width: 57%;       
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img {
                content: url("img/img-1-tablet.svg");
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
        &-text {
            position: relative;
            z-index: 2;
            padding-left: 50%;
            padding-right: 40px;
            padding-top: 145px;
            padding-bottom: 145px;
            h1 {
                margin-top: 48px;
                margin-bottom: 48px;
            }
            p {  
                color: $gray;
            }
        }
    }
    @include breakpoint(desktop) {
        &-image {
            width: 67%;       
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img {
                content: url("img/img-1-desktop.svg");
            }
        }
        &-text {
           h1 {
                margin-top: 48px;
                margin-bottom: 48px;
                color: $white;
            }
        }
    }
}
.hero-location {
  background-color: $black;
  padding: 16px;

  h1 {
    color: $white;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  h2 {
    padding-bottom: 20px;
    color: $orange;
  }

  p {
    color: $white;
    padding-bottom: 20px;
  }

  .p-2 {
    margin-bottom: 56px;
  }

  // Responsive para tablet
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 88px;
    padding-bottom: 80px;

    .col-left {
        flex: 1;
        max-width: 40%;
        h1 {
            text-transform: uppercase;
            span {
                display: block;
            }
        }
    }
    .col-right {
        flex: 1;
        max-width: 55%; 
    }
    }
    @include breakpoint(desktop) {
        padding-left: 165px;
        padding-right: 165px;
        padding-top: 104px;
        padding-bottom: 128px;
    }
}
    
